{% extends "layout.html" %}
{% block content %}

<div class="confirmation-box">

    <h1 class="page-title">Votre dossier a bien été transmis ✔️</h1>

    <p class="confirm-text">
        Merci pour votre inscription à la formation SSIAP.  
        Votre dossier a été correctement envoyé à nos services et sera traité dans les plus brefs délais.
    </p>

    <p class="confirm-text">
        📧 Un email de confirmation vous a également été envoyé.
    </p>

    <div class="cta-container">
        <a href="/" class="btn-primary">Retour à l’accueil</a>
    </div>

</div>

{% endblock %}
